main{
	min-height: calc(100vh - 14vh);
}
.auth-full-page {
	height: calc(100vh - 14vh);
}
.auth-bg {
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}
.auth-form {
	margin: auto;
	max-width: 400px;
	width: 100%;
}
.auth-quote {
	bottom: 3rem;
	color: #fff;
	left: 3rem;
	max-width: 650px;
	position: absolute;
	right: 3rem;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.33);
}
.auth-quote figure {
	margin: 0;
}
.auth-quote svg {
	color: #fff;
	height: 2rem;
	margin-bottom: 1rem;
	width: 2rem;
}
.auth-quote blockquote {
	color: #fff;
	font-size: 1.65rem;
	font-weight: 500;
	margin-bottom: 1rem;
}
.auth-quote figcaption {
	color: #fff;
	font-size: 1.03125rem;
	font-weight: 500;
}
