// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
	@include mat.theme((color: (primary: mat.$cyan-palette,
				tertiary: mat.$cyan-palette,
			),
			typography: Roboto,
			density: 0,
		));
}

body {
	// Default the application to a light color theme. This can be changed to
	// `dark` to enable the dark color theme, or to `light dark` to defer to the
	// user's system settings.
	color-scheme: light;

	// Set a default background, font and text colors for the application using
	// Angular Material's system-level CSS variables. Learn more about these
	// variables at https://material.angular.dev/guide/system-variables
	background-color: var(--mat-sys-on-primary-container);
	color: var(--mat-sys-on-surface);
	font: var(--mat-sys-body-medium);

	// Reset the user agent margin.
	margin: 0;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

footer{
	min-height: calc(100vh - calc(100vh - 5vh - 5vh));
	max-height: 5vh;
	padding: 5px;
	//border: 1px solid black;
	background-color: var(--mat-sys-on-primary-container);
	color: var(--mat-sys-primary-container);
	width: 100%;
	position: relative;
}


// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
	@include mat.icon-overrides((color: var(--mat-sys-primary-container),
		));
	@include mat.tree-overrides((container-background-color: var(--mat-sys-on-primary-container),
			node-text-color: var(--mat-sys-primary-container),
		));
	@include mat.sidenav-overrides((container-background-color: var(--mat-sys-on-primary-container),
			container-text-color: var(--mat-sys-primary-container),
			scrim-color: var(--mat-sys-primary-container),
		));
	@include mat.toolbar-overrides((container-background-color: var(--mat-sys-on-primary-container),
			container-text-color: var(--mat-sys-primary-container),
		));
}