// mat-toolbar {
// 	background-color: #154360;
// 	color: lightskyblue;
// }

// .light-icon {
// 	color: lightskyblue;
// }

.header-logo {
	width: 220px;
	height: 60px;
	//border: 1px solid black;
}

.example-spacer {
	flex: 1 1 auto;
}

header {
	min-height: 5vh;
	background-color: #154360;
	border: 0px solid black;
}

.main-content {
	flex: 1;
	//min-height: calc(100vh - 10vh - 10vh); // Resta header y footer
}

.user-avatar {
	min-width: fit-content;
	display: flex;
	color: var(--mat-sys-primary-container);
	align-items: center;
	gap: 10px;
}

.user-avatar:hover {
	opacity: 0.8;
}

.user-name {
	font-weight: 500;
	font-size: medium;
}

/* your-component.component.css */
.image-button {
	width: 50px;
	/* Adjust as needed */
	height: 50px;
	/* Adjust as needed */
	//   background-image: url('/images/avatars/avatar.jpg'); /* Path to your image */
	background-size: cover;
	/* Or 'contain', '100% 100%' */
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	/* Remove default button border */
	cursor: pointer;
	/* Indicate it's clickable */
	font-size: 0;
	/* Hide any default button text */
	border-radius: 50px;
}