<div class="d-flex w-100">
	<!-- Sidebar Component -->
	<div class="mb-0">
		<a href="/">
			<img src="/images/logo-cm.png" alt="C-M Gestion Logo" class="header-logo" />
		</a>
	</div>
	<!-- Header Component -->
	<header class="w-100">
		<div class="d-flex flex-wrap  justify-content-md-between w-100">
			<mat-toolbar>
				<button matIconButton class="example-icon" aria-label="Example icon-button with menu icon">
					<mat-icon class="light-icon" matTooltip="Menu Options">menu_open</mat-icon>
				</button>
				<span>C-M Gestion</span>
				<span class="example-spacer"></span>
				@if (isAuthenticated()) {
				<button matIconButton>
					<mat-icon matTooltip="Messages...">mail</mat-icon>
				</button>
				<button matIconButton>
					<mat-icon matTooltip="Chats...">chat</mat-icon>
				</button>
				<button matIconButton>
					<mat-icon matTooltip="Search...">search</mat-icon>
				</button>
				}
				@else {
				<button routerLink="/signin" routerLinkActive="active" matIconButton
					aria-label="Example icon-button with login icon">
					<mat-icon class="light-icon" matTooltip="Login.../Register...">login</mat-icon>
				</button>
				}
				<button matIconButton>
					<mat-icon matTooltip="Help...">help</mat-icon>
				</button>
				<button matIconButton>
					<mat-icon matTooltip="Language...">language</mat-icon>
				</button>
				<button matIconButton>
					<mat-icon matTooltip="Theme...">format_color_fill</mat-icon>
				</button>
				@if (isAuthenticated()) {
				<button matIconButton>
					<mat-icon matTooltip="Share">share</mat-icon>
				</button>
				<button matIconButton>
					<mat-icon matTooltip="Purchase Tracking ...">track_changes</mat-icon>
				</button>
				<button matIconButton>
					<mat-icon matTooltip="Shopping Cart...">shopping_cart</mat-icon>
				</button>
				<button class="user-avatar" matIconButton [matMenuTriggerFor]="menu" >
					<div class="image-button" style="background-image: url('/images/avatars/{{userData().UsuAvatar}}');"></div>
					<span class="user-name">{{userData().UsuNombres}} {{userData().UsuAPaterno}}</span>
				</button>
				<mat-menu #menu="matMenu">
					<button mat-menu-item (click)="profile()">
						<mat-icon>person</mat-icon>
						<span>Profile</span>
					</button>
					<button mat-menu-item disabled>
						<mat-icon>voicemail</mat-icon>
						<span>Check voice mail</span>
					</button>
					<button mat-menu-item>
						<mat-icon>notifications_off</mat-icon>
						<span>Disable alerts</span>
					</button>
					<button mat-menu-item>
						<mat-icon>settings</mat-icon>
						<span>User Settings</span>
					</button>
					<hr>
					<button (click)="logout()" mat-menu-item matTooltip="Logout">
						<mat-icon>logout</mat-icon>
						<span>Logout</span>
					</button>
				</mat-menu>
				}
			</mat-toolbar>
		</div>
	</header>
</div>