// mat-toolbar {
// 	background-color: #154360;
// 	color: lightskyblue;
// }

// .light-icon {
// 	color: lightskyblue;
// }

.header-logo {
  width: 220px;
  height: 60px;
  //border: 1px solid black;
}

.example-spacer {
  flex: 1 1 auto;
}

header {
  min-height: 5vh;
  background-color: #154360;
  border: 0px solid black;
}

.mat-drawer-container {
  //width: 500px;
  min-height: 100vh;
  //border: 1px solid rgba(0, 0, 0, 0.5);
}

.mat-drawer-sidenav {
  width: 255px;
  padding-top: 5px;
  padding-left: 5px;
}
.mat-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.mat-drawer-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  min-height: calc(100vh - 10vh - 10vh); // Resta header y footer
}

.mat-tree {
  padding-left: 5px;
}

.user-avatar {
	min-width: fit-content;
	display: flex;
	color: var(--mat-sys-primary-container);
	align-items: center;
	gap: 10px;
}
.user-avatar:hover {
	opacity: 0.8;
}
.user-name {
	font-weight: 500;
	font-size: medium;
}

/* your-component.component.css */
.image-button {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  background-image: url('/images/avatars/avatar.jpg'); /* Path to your image */
  background-size: cover; /* Or 'contain', '100% 100%' */
  background-repeat: no-repeat;
  background-position: center;
  border: none; /* Remove default button border */
  cursor: pointer; /* Indicate it's clickable */
  font-size: 0; /* Hide any default button text */
  border-radius: 50px;
}

